<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav>
        <img src="" alt="logo">
        <ul>

            <li>
                <a href="../index.html">Home</a>
            </li>
            <li>
                <a href="">Account</a>
            </li>
        </ul>
    </nav>
</header>

<div class="container-fonction">
    <button onclick="history.back()">Terug</button>
    <div class="container">
        <div class="persoon">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Naam</th>
                    <th>Voornaam</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>0001</td>
                    <td>Janssens</td>
                    <td>Piet</td>
                </tr>
                <tr>
                    <td>0002</td>
                    <td>Peeters</td>
                    <td>Jan</td>
                </tr>
                <tr>
                    <td>0003</td>
                    <td>Claes</td>
                    <td>Marie</td>
                </tr>
                <tr>
                    <td>0004</td>
                    <td>Willems</td>
                    <td>Els</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>