<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/admin/global.css">
    <link rel="stylesheet" href="/css/admin/layout-edit-medewerker.css">
</head>
<body>
<header>
    <nav>
        <img src="" alt="logo">
        <ul>

            <li>
                <a href="index2.html">Home</a>
            </li>
            <li>
                <a href="">Account</a>
            </li>
        </ul>
    </nav>
</header>

<div class="container-fonction">
    <div class="terug-btn-container">
        <button onclick="history.back()">Terug</button>
    </div>

    <div class="container">
        <div class="persoon">
            <form id="editUserForm" action="" method="post">
                <label for="id">ID:</label>
                <input type="text" id="id" name="id" readonly />
                <label for="naam">Naam:</label>
                <input type="text" id="naam" name="naam" required />
                <label for="voornaam">Voornaam:</label>
                <input type="text" id="voornaam" name="voornaam" required />
                <button type="submit" class="submit-btn">Toevoegen</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>