header{
    color: white;
    background-color: black;
    display: flex;

}
body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    width: 100%;

}

li{
    list-style: none;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.kaartjes {
    background-color: aqua;
    height: 100px;
    width: 250px;
}

.container-fonction {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    gap: 35px
;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 40px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #3e8e41;
}