<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/StyleWinkelmandje.css">
</head>
<table>
    <thead>
    <tr>
        <th>Bestelnummer</th>
        <th>Datum</th>
        <th>Producten</th>
        <th>Status</th>
        <th>Leverdatum</th>
        <th>Actie</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>#ORD-2025034</td>
        <td>04-06-2025</td>
        <td><button class="product-button" onclick="toonProducten('#ORD-2025034')">12 producten</button></td>
        <td>Bezig</td>
        <td>07-06-2025</td>
        <td><a href="#">Bekijk</a></td>
    </tr>
    <!-- Meer rijen -->
    </tbody>
</table>


</body>
</html>